* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #4f86fba0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 50px; 
    height: auto;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}

.login-button:hover {
    background-color: #555;
    color : #e81192;
}

.volunteer-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    text-decoration: none;
}

.volunteer-button:hover {
    background-color: #555;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section-gap {
    height: 50px;
}

#events {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#events h2 {
    text-align: center;
    margin-bottom: 10px;
}

.event {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.event img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.event p {
    flex: 1;
}

#volunteers {
    padding: 30px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#volunteers h2 {
    text-align: center;
    margin-bottom: 10px;
}